*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #191119, #371d25);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 10px 60px rgba(240deg, 79, 197, 0.22);
}
.music-player{
    border-radius: 10px;
    background: #000000;
    width: 400px;
    height: 700px;
    padding: 25px 35px;
    text-align: center;

}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
nav .circle{
    
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #000000;
    border: 2.5px solid #7c3e51;
    border-radius: 10px;
    color: #7c3e51;
    box-shadow: 0 5px 10px rgba(125, 19, 225, 0.22);
}
.music{ 

    width: 300px;
    border-radius: 50%;
    border: 4px solid #7c3e51;;
    box-shadow: 0 10px 60px rgba(182, 108, 251, 0.22);
}
.music-player h1{
    padding: 20px 0 0;
    font-size: 23px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-align: center;
    
}
.music-player p{
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 20px;
    
}
#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #371d25;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #371d25;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border:4px solid #7c3e51;
    box-shadow: 0 5px 0;
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls div{
    width: 50px;
    height: 50px;
    margin: 20px;
    background: #000000;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: solid #7c3e51;
    color: #7c3e51;
    box-shadow: 0 10px 20 rgba(125, 19, 225, 0.22);
    cursor: pointer;

}
.controls div:nth-child(2){
    transform: scale(1.5);
    background: #000000;;
    color:#7c3e51;;

}
footer{
    position: absolute;
    width: 100%;
    background: #351b22;
    padding: 10px 0;
    text-align: center;
    color: #000;
    font-size: 14px;
    font-weight: 300;
    border-top: 1px solid #000000;
}